{% extends 'main/base.html' %}
{% load staticfiles %}
{% block css %}<link rel="stylesheet" href="{% static 'shop/css/shop.css' %}">{% endblock %}
{% block content %}
{% if branchForm.instance.id %}
<h2>修改類別</h2>
<form id="form" method="post" action="{% url 'shop:branchUpdate' branchForm.instance.id %}">
{% else %}
<h2>新增類別</h2>
<form id="form" method="post" action="{% url 'shop:branchCreate' %}">
{% endif %}
{% csrf_token %}
{{ branchForm.as_p }}
<input class="btn" type="submit" value="送出">
<a class="btn" href="{% url 'shop:shop' %}">放棄</a>
</form>
{% endblock %}