{% extends 'main/base.html' %}
{% load staticfiles %}
{% block css %}<link rel="stylesheet" href="{% static 'shop/css/shop.css' %}"> {% endblock %}
{% block content %}
{% include 'main/messages.html' %}
<aside>
<ul>
    <li class="classheader"><a href="{% url 'shop:branchRead' branch.id %}">{{ branch.branchName }}</a></li>
{% for p in plants %}    
    <li><a href="{% url 'shop:plantRead' branch.id p.id %}">{{ p.plantName }}</a></li>
{% endfor %}
  </ul>
</aside>

<div id="contentRight">
    
    <div id="bigplantImg"><img src="/static/main/img/{{ plant.url }}"></div>
    <div id="info">
    <p>
    <h1>{{ plant.plantName }}
    {% if user.is_superuser %}
    <a class="edit" href="{% url 'shop:plantUpdate' branch.id plant.id %}">
    <img class="icon" src="{% static 'main/img/edit-regular.svg' %}"></a>
     <form class="inlineBlock" method="post" action="{% url 'shop:plantDelete' plant.id %}">
        {% csrf_token %}
        <input class="icon deleteConfirm" id='delete' type="image" src="{% static 'main/img/trash-alt-solid.svg' %}">
      </form>
    {% endif %}
    </h1>
    {% if plant.newPrice %}
    <b>原價</b> $ <del>{{ plant.price }}</del><br>
    <b>優惠價</b> $ {{ plant.newPrice }}
    {% else %}
    $ {{ plant.price }}
    {% endif %}
    {% if user.is_superuser %}
    <form id="discNum" action="{% url 'shop:plantDiscount' branch.id plant.id %}">
        {% csrf_token %}
        打<input type="number" name="discount">折
        <input class="btn" type="submit" value="確認">
    </form>
    {% endif %}
    <br>
    庫存 {{ plant.inventory }}<br>
    編碼 {{ plant.code }}<br>
    已有 {{ plant.buyes.count }} 個人買過
    <form id="discNum" action="{% url 'shop:plantBuy' plant.id %}">
        {% csrf_token %}
        <input id="buyBtn" type="submit" value="BUY">
    </form>
    
    </p> 
    </div> 
</div>


{% endblock %}