{% extends 'main/base.html' %}
{% load staticfiles%}
{% block css %}<link rel="stylesheet" href="{% static 'shop/css/shop.css' %}"> {% endblock %}
{% block content %}
{% include 'main/messages.html' %}
<aside>
<ul>
    <li class="classheader">多肉種類</li>
{% for branch, plants in branches.items %}
    <li><a class="classtitle" href="{% url 'shop:branchRead' branch.id %}">{{ branch.branchName }}</a></li>
    {% for plant in plants %}
    <li><a href="{% url 'shop:plantRead' branch.id plant.id %}">{{ plant.plantName }}</a></li>
    {% endfor %}
{% endfor %}
  </ul>
</aside>

<div id="contentRight">
{% for branch, plants in branches.items %}
  <div class="titleImg"><P>{{ branch.branchName }}</P><a href="{% url 'shop:branchRead' branch.id %}"><img src="/static/main/img/{{ branch.url }}"></a></div> 
{% endfor %}
<div class="titleImg"><P>New</P><a class='newItem' href="{% url 'shop:branchCreate' %}">+</a></div>
</div>


{% endblock %}