/*aside*/
aside {
  float: left;
  width:25%;
}
aside ul{
  margin:0;
  padding:0;
}

aside ul li{
  border:0;
  display:block;
}

aside li a{
  color:#0093ff;
  padding:10px;
  text-decoration: none;
  font-size:1.5em;
}
#contentRight {
  width:75%;
  float: right;
  background-color: #f7f0e1;
  padding:2em;
}

aside ul .classheader{
  font-size: 2.5em;
  font-weight:bold;
  color:#005baa !important;
}

.classtitle {
  font-size: 1.7em;
  font-weight:bold;
  color:#000000;
}


div #contentRight .titleImg {
  display: inline-block;
  width: 40%;
}
div #contentRight .titleImg p{
  padding:0;
  margin:0;
  font-size: 2em;
}
div #contentRight .titleImg img{
  width: 100px;
}

/*NewItemButton*/
.newItem {
  display: inline-block;
  border: 4px solid #000003;
  color: #005baa;
  text-decoration: none;
  font-size: 1.5em; 
  padding: 20px 30px;
  vertical-align: bottom;
}


#form{
  display:block;
  width:100%;
  float:left;
  text-align:left;
  margin:0;
  padding:0;
}

.plantImg {
  width:20%;
  display:inline-block;
  vertical-align: top;
  margin:0;
}

#bigplantImg {
  dsiplay:inline-block;
  float:left;
  vetical-align:middle;
  width:40%;
  height:100%;
}

#bigplantImg img{
  margin-top:2em;
  display:inline-block;
  vetical-align:middle;
  width:200px;
}

#info {
  dsiplay:inline-block;
  margin-top:1em;
  margin-bottm:2em;
  float:left;
  text-align:left;
  width:60%;
}

.edit{
  display:inline;
  font-size:0.7em;
}


#delete{
  background:url("main/static/main/img/trash-alt-solid.svg");
}

#discNum{
  margin:0;
  padding:0;
  width:100%;
}
