* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  
}

div#wrapper {
  margin: 0 auto;
  text-align: center;
  width: 1000px;
  height: 100%;
}

/*header*/
header {
  display:block;
  position: fixed;
  width: 1000px;
  z-index: 10px;
  background-color: white;
}
header #headerLeft{
/*
   margin:0;
  padding-top:0.4em;
   text-align: center;
*/
  display:inline-block;
  padding: 0.5% 0.5%; 
  text-align: left;
  color:black;
  font-size: 2em;
  font-weight: bold;
  height: 100%;
  width:50%;
  float:left;
}

div #search{ 
  display:inline-block;
  float:left;
  height: 100%;
  width:50%;
  text-align:left;
} 

header #headerLeft img{
  vertical-align: middle;
}

#headerBig {  
  line-height:5em;
}

div #headerHidden{
  height: 9em;
}

img {
  width: 70px;
}

#contentSearch{
  width:100%;
  float:left;
}

div#content {
  width: 100%;
  height: 20em;
  margin: 0 auto;
}

div#content h2{
  text-align: left;
  background:rgba(0, 128, 0, 0.53);
  color:#ffffff;
  padding: 5px;
}
div#content h2 span{
  color: red;
}

/* Navigation */
nav {
  display:block;
  padding: 0;
  line-height: 10%;
  width: 1000px;
  background-color: #ffffff;
  z-index: 5px;
  clear:both;
}
nav li {
  width:15%;
}

nav ul {
  width:100%;
  height:100%;
  padding: 0;
}

 li {
  list-style: none;
  display:inline-block;
  border-left:2px solid black;
}

 li a {
  color: black;
  padding:10px;
  text-decoration: none;
  font-weight: bold;
  display:block;
}


footer {
  display:block;
  clear: both;
  padding:0;
  margin:0;
  background-color: #a8eda8
}

#footerimg {
  width: 60px;
  display:block;
  float:left;
  margin:2%;
}

#footerleft {
  display: inline;
  padding: 0.1% 0.1%; 
  text-align: left;
  color:black;
  font-size: 1em;
  font-weight: bold;
  height: 100%;
}

#footerright {
  float:right;
  display: inline-block;
  padding: 0.1% 0.1%; 
  font-size: 1em;
  font-weight: bold;
  height: 100%;
  width: 20%;
  vertical-align: middle;
  margin-top: 1%;
}


.four {
  box-shadow: 0 0 10px #555555;
}
/* Messages */
.success, .error {
  padding: 1em 0 1em 3em;
}

.success {
  background-color: #ddffdd;
  border: thin solid green;
}

.error {
  background-color: #fbd9d8;
  border: thin solid red;
}
/* Button */
.btn {
  font-family: Arial;
  display: inline-block;
  color: black;
  font-size: 0.8em;
  padding: 0.5em 1em;
  text-decoration: none;
  border: thin solid gray;
  background: linear-gradient(#f7f7f7, #dedede);
}

.icon{
  width:0.6em;
}

.inlineBlock{
  display:inline-block;
}
input[type=text] {
  padding: 0.4em;
  border-radius: 20px; 
  border:2px solid black;
}

#contactHanlin{
  width:450px;
}

.hotImg{
  background-color:lightgray;
  width:15%;
  display:inline-block;
  vertical-align: top;
  margin:0;
}
