* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width:100%;
}

div#wrapper {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: 100%;
}

/*header*/
header {
  display:block;
  position: fixed;
  width: 100%;
  z-index: 10px;
  background-color: white;
}
header #headerLeft{
/*
   margin:0;
  padding-top:0.4em;
   text-align: center;
*/
  display:inline-block;
  padding: 0.5% 0.5%; 
  text-align: left;
  color:black;
  font-size: 2em;
  font-weight: bold;
  height: 100%;
  width:50%;
  float:left;
}

div #search{ 
  display:inline-block;
  float:left;
  height: 100%;
  width:50%;
  text-align:left;
} 

header #headerLeft img{
  vertical-align: middle;
}

#headerBig {  
  line-height:5em;
}

div #headerHidden{
  height: 9em;
}

img {
  width: 100px;
}

#contentSearch{
  width:100%;
  float:left;
}

div#content {
  width: 100%;
  margin: 0 auto;
  padding:5px;
  margin-top:2%;
}

div#content h2{
  text-align: left;
  background:rgba(0, 128, 0, 0.53);
  color:#ffffff;
  padding: 5px;
}
div#content h2 span{
  color: red;
}

/* Navigation */
nav {
  display:block;
  padding: 0;
  line-height: 10%;
  width: 100%;
  background-color: #ffffff;
  z-index: 5px;
  clear:both;
}
nav li {
  width:12%;
  min-width: 120px;
}

nav ul {
  width:100%;
  height:100%;
  padding: 0;
}

nav li ,footer li{
  list-style: none;
  display:inline-block;
  border-left:2px solid black;
}

nav li a ,footer li a{
  color: black;
  padding:10px;
  text-decoration: none;
  font-weight: bold;
  display:block;
}


nav li a:hover ,footer li a:hover{
  color: #3465a4;
  transition: all 1s ease 0s;
}

.detail{
  display:block;
  width:100%;
  margin:0.5em;
}

.detail li{
  list-style: none;
  text-align:left;
}

.detail li p{
  color: black;
  padding:5px;
  text-decoration: none;
  font-size:1.3em;
  border-bottom:2px solid lightgray;
  text-align:center;
}

footer {
  display:block;
  clear: both;
  padding:0;
  margin:0;
  background-color: #a8eda8
}

#footerimg {
  width: 60px;
  display:block;
  float:left;
  margin:2%;
}

#footerleft {
  display: inline;
  padding: 0.1% 0.1%; 
  text-align: left;
  color:black;
  font-size: 1em;
  font-weight: bold;
  height: 100%;
}

#footerright {
  float:right;
  display: inline-block;
  padding: 0.1% 0.1%; 
  font-size: 1em;
  font-weight: bold;
  height: 100%;
  width: 20%;
  vertical-align: middle;
  margin-top: 1%;
}


.four {
  box-shadow: 0 0 10px #555555;
}
/* Messages */
.success, .error {
  padding: 1em 0 1em 3em;
}

.success {
  background-color: #ddffdd;
  border: thin solid green;
}

.error {
  background-color: #fbd9d8;
  border: thin solid red;
}
/* Button */
.btn {
  font-family: Arial;
  display: inline-block;
  color: black;
  font-size: 0.8em;
  padding: 0.5em 1em;
  text-decoration: none;
  border: thin solid gray;
  background: linear-gient(#f7f7f7, #dedede);
}

.icon{
  width:1em;
}

.inlineBlock{
  display:inline-block;
}
input[type=text], input[type=url], input[type=password],input[type=number],input[type=email]{
  padding: 0.4em;
  border-radius: 20px; 
  border:2px solid black;
}

input[type=number]{
  padding: 0.1em;
  width:3em;
  
  color:red;
} 

#contactHanlin{
  margin:1.3em;
  width:450px;
}

.hotImg{
  background-color:lightgray;
  width:15%;
  min-width: 135px;
  display:inline-block;
  vertical-align: top;
  margin:0.3em;
  height:15em;
}
.hotImg p{
  margin-bottom:0;
}

div.hotImg p.hotName{
  font-size:1.6em;
  margin-top:0.6em;
}

.hotImg:hover{
  background-color:#888a85;
  font-size: 105%; 
  color: white; 
  text-shadow: 0 0 20px lightgray;
  transition: all 1s ease 0s;
}

div #register{
  display:block;
  width:100%;
  float:left;
  text-align:left;
  margin:0;
  padding:0;
}

#buyBtn {
  font-family: Arial;
  width: 100%;
  display: inline-block;
  color: #ffffff;
  font-size: 2em;
  padding: 0.1em 1em;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  background: linear-gradient(#ffce00, #ff0000);
}

#buyBtn:hover{
  box-shadow: 0 0 15px #555555;
}
/* Table */
.table {
  margin: 0 auto;
  width: 90%;
  border-collapse: collapse;
  height:100%;
}

.table th {
  font-size: 1.1em;
  padding: 10px 0 10px 10px;
  text-align: center;
  background-color: rgba(0, 154, 136, 0.51);
  border-bottom: 1px solid black;
}

.table td {
  color: #222222;
  background-color: #ffffff;
  padding: 12px 0 12px 10px;
}

.table-hover tr:hover td {
  background-color: rgba(190, 255, 190, 0.67);
}

.tableDiv {
  
}

.clear{
  clear:both;
}

#noneDecration{
  text-decoration:none;
  color:black;
}

div .pay ul {
    overflow-x:hidden;
    white-space:nowrap;
    display: inline-block;
    padding: 0;
    margin: 0;
    vertical-align: top;
}

div .pay li {
    display:inline;
    list-style: none;
}

div .pay label {
    display: inline-block;
    vertical-align: top;
}

a#pull {
    display:none;
}

#newReadBorder{
  border:3px solid lightgray;
  border-radius: 5px;
}
#newTitle{
  border-bottom:5px solid lightgray;
}

@media screen and (max-width: 570px) {

  header #headerLeft,div#search{
    width:100%;
    display:block;
    float:left;
  }
  nav li {
    display:inline-block;
    width: 100%;
    border-left:2px solid white;
   }
   nav a {
    border-bottom: 2px solid white;
    
    background-color:lightgray;
    border-left:white;
    text-align: left;
    text-indent: 30px;
    padding:3px;
  }
  nav ul {
    display: none;
    margin:0;
  }
  nav li a{
    color:white;
  }
  nav a#pull {
    display: block;
    background-color: gray;
    position: relative;
    text-decoration:none;
    color: white;
    font-weight: bold;
    line-height:1.2em;
    margin:0;
    padding:3px;
  }
   nav a#pull:after {
    content:"";
    background: url("../img/nav-icon.png") no-repeat;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 15px;
    top: 2px;
  }
 
  footer li a{
    display:none;
  }
  div #headerHidden{
    height: 200px;
  }
  div#contentSearch{
    width:100%;
  }
  .hotImg{
    width:70%;
  }
  
  img{
    width:120px;
  }
  
  #contactHanlin{
  width:300px;
  }
  input[type=text]{
    width:300px;
  }
  aside{
    display:none;
  }
  div#contentRight{
    width:100%;
  }

}

